In [1]:
import pandas as pd
import numpy as np

## Q1. Pandas Version

In [5]:
# What's the Installed version of pandas? 
pd.__version__

'2.2.2'

## Q2. Records Count

In [6]:
# Read csv into a DataFrame
df = pd.read_csv('../Data/laptops.csv')

In [14]:
# How many records are in the dataset?
print(f'{df.shape[0]} records')

2160 records

## Q3. Laptop Brands

In [13]:
# How many laptop brands are presented in the dataset?
df['Brand'].nunique()

27

## Q4. Missing Values

In [19]:
# How many columns in the dataset have missing values?
df.isna().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [22]:
len(df.isna().sum()[df.isna().sum() > 0])

3

## Q5. Maximum Final Price

In [28]:
# What's the maximum final price of Dell notebooks in the dataset?
dell_df = df[df['Brand'] == 'Dell']
print(dell_df['Final Price'].max())

3936.0

## Q6. Median Value of Screen

In [30]:
# Find the median value of Screen column in the dataset
median_screen = df['Screen'].median()
print(median_screen)

15.6

In [38]:
# Next, calculate the most frequent value of the same Screen column
mode_screen = df['Screen'].mode().loc[0]
print(mode_screen)

15.6

In [39]:
# Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step
df['Screen'] = df['Screen'].fillna(mode_screen)

In [40]:
# Now, calculate the median value of Screen once again
median_screen_2 = df['Screen'].median()
print(median_screen_2)

15.6

In [41]:
# Has it changed?
print('No')

No

## Q7. Sum of Weights

In [51]:
# Select all the "Innjoo" laptops from the dataset
injoo_df = df[df['Brand'] == 'Innjoo']

In [52]:
# Select only columns RAM, Storage, Screen
# Get the underlying NumPy array. Let's call it X
X = np.array(injoo_df[['RAM', 'Storage', 'Screen']])

In [54]:
# Compute XTX
XTX = X.T @ X

# Compute the inverse of XTX
XTX_inv = np.linalg.inv(XTX)

# Create y
y = np.array([1100, 1300, 800, 900, 1000, 1100])

# Compute w
w = XTX_inv @ X.T @ y

# Compute the sum of all elements in w
sum_w = np.sum(w)
sum_w

np.float64(91.2998806299557)